{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>

      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3"
      href="{{ if eq .Site.Language.Lang "id" }}{{ "/docs/hardware/dasar-elektronik/" | relLangURL }}{{ else }}{{ "/docs/hardware/electronic-basic/" | relLangURL }}{{ end }}"
      role="button">
         {{ i18n "get_started" }}
      </a>

      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}

  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">

        {{ if eq .Site.Language.Lang "en" }}
          <div class="col-md-4 mb-5">
            <h2 class="h5 fw-bold text-dark">Fundamental</h2>
            <p class="text-secondary">Master the bedrock of engineering through Technical English, Mathematics, and Physics.</p>
          </div>
          <div class="col-md-4 mb-5">
            <h2 class="h5 fw-bold text-dark">Hardware</h2>
            <p class="text-secondary">Dive into silicon design with RISC-V Architecture and Verilog/FPGA.</p>
          </div>
          <div class="col-md-4 mb-5">
            <h2 class="h5 fw-bold text-dark">Software</h2>
            <p class="text-secondary">Control the machine using Assembly and Zig for low-level systems.</p>
          </div>
        {{ else }}
          <div class="col-md-4 mb-5">
            <h2 class="h5 fw-bold text-dark">Fundamental</h2>
            <p class="text-secondary">Kuasai dasar rekayasa melalui Kimia, Fisika, dan Matematika Logika.</p>
          </div>
          <div class="col-md-4 mb-5">
            <h2 class="h5 fw-bold text-dark">Hardware</h2>
            <p class="text-secondary">Pelajari perancangan sirkuit berbasis RISC-V dan produksi papan PCB kustom.</p>
          </div>
          <div class="col-md-4 mb-5">
            <h2 class="h5 fw-bold text-dark">Software</h2>
            <p class="text-secondary">Kendalikan mesin lewat Assembly dan Zig untuk membangun OS sendiri.</p>
          </div>
        {{ end }}

      </div>
    </div>
  </section>
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">
        {{ if eq .Site.Language.Lang "en" }}Start building with Nusantara today{{ else }}Mulai membangun dengan Nusantara hari ini{{ end }}
      </h2>

      <a class="btn btn-primary rounded-pill px-4 my-2"
      href="{{ if eq .Site.Language.Lang "id" }}{{ "/docs/hardware/dasar-elektronik/" | relLangURL }}{{ else }}{{ "/docs/hardware/electronic-basic/" | relLangURL }}{{ end }}"
      role="button">
         {{ i18n "get_started" }}
      </a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
